body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fbebea;
    margin: 0;
  }
  
  .error-container {
    text-align: center;
  }
  
  .error-message {
    font-size: 80px;
    color: #ff6961;
    margin-bottom: 20px;
  }
  
  .error-title {
    font-size: 120px; /* Tamaño muy grande */
    color: black; /* Color negro */
    margin-bottom: 0px;
  }
